# Data files
*.csv
*.xlsx
*.db

# Virtual Environments
.venv/
.env

# Models
*.cbm

# Python cache and IDE files
__pycache__/
catboost_info/
*.log
.idea/
.vscode/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/